# Ignore virtual environments
iris_venv/

# Ignore Jupyter checkpoint files
**/.ipynb_checkpoints/

#Ignore large file
exercises/4_ML_exercise/HIGGS.csv
exercises/3_py4HEP_ScikitHEP/SMHiggsToZZTo4L.root.1
data/
